---
import { getCollection, type CollectionEntry } from 'astro:content';
export async function getStaticPaths () {
	const posts = await getCollection("articles");
	const paths = posts.map(post => {
        return {
            params: {
                slug: post.slug
            },
            props: {
                post
            }
        }
    })

	return paths;
}
type Props = {
    post: CollectionEntry<"articles">
};
const { post } = Astro.props;
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";

---

<Layout
	title="Page des composants"
	description="Ceci est la meta description"
/>
<Header />

<span>{post.data.title}</span>

<img src={post.data.image} alt={post.data.title} />

<h1>{post.data.title}</h1>



