---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroBox from "../components/HeroBox.astro";
import Footer from "../components/Footer.astro";
import * as animations from "../components/animations.js";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
const customCrumbs = [
 { text: "Accueil", href: "/" },
  {
    text: "Conditions générales de vente et d'utilisation",
    href: "/cgu-cgv/"
  }
];
---

<Layout
	title="Conditions générales de vente - GDM-Pixel"
	description="Découvrez nos conditions générales de vente">
	<Header />
	<div class="bd-container">
		<Breadcrumbs crumbs={customCrumbs} transition:persist>
			<svg
				slot="index"
				xmlns="http://www.w3.org/2000/svg"
				height="1em"
				viewBox="0 0 576 512">
				<path
					d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
				></path>
			</svg>
			<svg
				slot="separator"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round">
				<polyline points="9 18 15 12 9 6"></polyline>
			</svg>
		</Breadcrumbs>
	</div>
	<main class="px-6">
		<div class="mx-auto py-24 max-w-4xl prose">
			<h1>Conditions générales de vente et d'utilisation</h1>
				<h2>L’ENTREPRISE</h2><p>
					Identification : Charles Annoni, 10 rue de la table ronde, 14000 Caen
					Numéro de Siren : 520 628 934 GDM-Pixel est une marque déposée à
					l’INPI.
				</p><h2>1. INTEGRALITE</h2><p>
					Les présentes conditions générales de vente sont applicables à tous
					les produits et prestations vendus par GDM-Pixel. Elles sont
					applicables dans leur intégralité pour toute commande passée, quel que
					soit le lieu de livraison. Ces conditions générales de vente et
					d’utilisation sont modifiables sans préavis.
				</p><h2>2. OBJET</h2><p>
					GDM-Pixel fournit conseil et prestation de service dans le domaine de
					l’infographie, de la création de site web, du webmarketing et du
					référencement. Il est de la responsabilité du client d’avoir recours à
					ses compétences internes ou à des tiers de son choix pour s’assurer
					qu’il saura utiliser les sites et produits mis à disposition par
					GDM-Pixel.
				</p><h2>3. COMMANDES ET EXÉCUTION</h2><p>
					Toute commande passée auprès de GDM-Pixel est ferme et définitive pour
					le client dès réception par GDM-Pixel d’un bon de commande ou de tout
					autre support faisant mention d’une commande, tel qu’un devis signé,
					par voie manuscrite ou électronique.
				</p><h2>4. PRIX</h2><p>
					Les produits sont fournis au prix fixé sur la base des devis établis
					par le prestataire. Les prix sont exprimés HT. Les prix sont
					modifiables sans préavis et varient en fonction du travail estimé par
					le prestataire. Tout les travaux sont réalisés sur devis et le client
					est tout à fait libre de refuser une prestation avant signature ou de
					renégocier la prestation de service.
				</p><h3>4.1 Tarifs indicatifs des prestations</h3><ul>
					<li><strong>Maintenance</strong> : 420 € par jour</li><li>
						<strong>Développement</strong> : 500 € par jour
					</li><li><strong>Intégration</strong> : 420 € par jour</li><li>
						<strong>Webdesign</strong> : 350 € par jour
					</li><li><strong>Copywriting</strong> : 0,1 € / mot</li><li>
						<strong>Marketing</strong> : 420 € par jour
					</li><li><strong>Consulting SEO</strong> : 500 € par jour</li>
				</ul><h2>5. DÉLAIS ET CONDITIONS DE RÈGLEMENT</h2><h3>
					5.1 Modalités de paiement
				</h3><p>
					Toute commande doit être réglée dans son intégralité lors de sa
					livraison. Pour les commandes d’un montant supérieur à 500 €, un
					acompte de 50 % sera versé à la commande, les 50 % restants seront
					versés juste avant livraison du produit.
				</p><p>
					En cas de paiements en plusieurs fois, ou d’une négociation liées aux
					modes de règlement, un avenant ou une mention particulière aux
					présentes conditions seront présents dans le cahier des charges du
					projet.
				</p><h3>5.2 Retard de paiement</h3><p>
					Le prestataire demandera le paiement immédiat de toutes les factures
					non réglées. Le retard de paiement pourra donner lieu en outre à des
					pénalités de retard (au taux légal en vigueur).
				</p><h3>5.3 Renonciation au paiement et annulation de commande</h3><p>
					Aucune annulation de commande après signature du cahier des charges et
					du devis ne pourra être remboursée dans sa totalité. Seuls les
					paiements à régler à la livraison ou suite à la livraison pourront
					être annulés.
				</p><h3>5.4 Suspension de livraison</h3><p>
					La chose livrée (maquette, site, code, tout élément physique ou de
					nature intellectuelle) n’est acquise que lorsque le paiement est
					effectif dans sa totalité. Sans paiement intégral, le prestataire est
					en droit de suspendre la livraison (désactivation du site, du module
					etc).
				</p><p>
					Le transfert des éléments de connexion et le droit à l’utilisation de
					la chose livrée n’est effectif que lorsque le paiement est
					intégralement réalisé.
				</p><h3>5.5 Frais de gestion de projet</h3><p>
					Lors du lancement de son projet, et après réception de l’acompte, le
					prestataire procèdera à la formalisation du cahier des charges, si le
					client n’en a pas fourni, sur la base du besoin exprimé et en fonction
					du devis. En cas de désaccord du client sur le mode opératoire et le
					déroulé de projet, celui-ci pourra demander un remboursement de son
					acompte, duquel seront déduit 300 € de frais de gestion de projet et
					de rédaction du cahier des charges.
				</p><h2>6. CONDITIONS DE LIVRAISON</h2><h3>6.1 Modalités</h3><p>
					La livraison prend effet au moment de la réception des produits ou
					codes d’accès par voie recommandée avec accusé de réception ou lors de
					l’envoi par courriel. Le client se doit de vérifier le bon
					fonctionnement des produits et leur conformité dans les sept jours
					ouvrés consécutifs.
				</p><h3>6.2 Délais de livraison</h3><p>
					Les délais de livraison indiqués par GDM-Pixel sont toujours des
					délais indicatifs basés sur un délai moyen prévisionnel. Aucune
					indemnité ne pourra être accordée au client en cas de non respect de
					ces délais, et aucune commande ne pourra être annulée sans l’accord
					exprès de GDM-Pixel.
				</p><h3>6.3 Transfert des risques</h3><p>
					Le transfert des risques intervient à la date de livraison telle que
					définie au point 6.1. En conséquence, dès sortie de chez GDM-Pixel,
					les produits sont placés sous la responsabilité du client qui supporte
					alors tous les risques de pertes ou dommages et prend les couvertures
					nécessaires.
				</p><h3>6.4 Réception des produits</h3><p>
					Il appartiendra au client de fournir toute justification quant à la
					réalité des anomalies constatées. Concernant les logiciels, à défaut
					de réserves émises dans un délai de 7 jours à compter de la livraison,
					ils seront réputés conformes à la commande et aux spécifications
					annoncées.
				</p><h2>7. EXONÉRATION ET LIMITATION DE RESPONSABILITÉ</h2><p>
					De convention expresse entre les parties, GDM-Pixel est soumise au
					titre des présentes à une obligation de moyens. En aucun cas GDM-Pixel
					ne peut être responsable (a) de dommages indirects ou immatériels, (b)
					de dommages liés à un retard de livraison, un manquant ou une avarie,
					(c) de dommages liés à une non-conformité aux besoins du client, (d)
					ou de dommages dûs à une cause indépendante de la volonté de
					GDM-Pixel.
				</p><p>
					L’entreprise n’est pas responsable des évolutions algorithmiques des
					moteurs de recherche, ni des mauvaises pratiques déployées par ses
					clients suite à la livraison des produits commandés.
				</p><h2>8. RÉSERVE DE PROPRIÉTÉ</h2><p>
					GDM-Pixel conserve la propriété des produits vendus jusqu’au paiement
					effectif de l’intégralité du prix en principal et accessoire. A défaut
					de paiement intégral du prix des produits en principal et intérêts,
					GDM-Pixel pourra, à tout moment, suspendre la livraison.
				</p><h2>9. LANGUE ET MATÉRIEL</h2><p>
					Le matériel vendu par GDM-Pixel, et plus particulièrement les
					logiciels ainsi que les programmes accessoires de logiciel, sont
					fournis en langue anglaise / française ou dans toute autre langue
					selon la disponibilité chez le constructeur, sans recours de la part
					de l’acquéreur à l’encontre de GDM-Pixel de ce fait.
				</p><h2>10. INFORMATIQUE ET LIBERTES</h2><p>
					Les données stockées dans nos systèmes informatiques sont
					exclusivement utilisées dans le cadre de notre activité. Les données,
					optionnelles ou obligatoires, saisies dans des formulaires peuvent
					faire l’objet d’un droit d’accès, de rectification et d’opposition de
					traitement.
				</p><h2>11. ATTRIBUTION DE JURIDICTION ET DROIT APPLICABLE</h2><p>
					Les contrats de vente avec les clients sont soumis à la loi française.
					Tout litige relatif aux ventes intervenues avec les clients, même en
					cas de recours en garantie ou de pluralité de défendeurs, serait à
					défaut d’accord amiable de la compétence exclusive du Tribunal de
					Commerce de Caen.
				</p><h2>12. FORCE MAJEURE</h2><p>
					Nos obligations de livraison sont suspendues de plein droit et sans
					formalité et, de manière générale, notre responsabilité est dégagée en
					présence d’un cas de force majeure ou d’événements tels que grèves,
					épidémies, défaillance ou carence d’un fournisseur ou sous-traitant,
					restriction ou interdiction d’importation, indisponibilité de matière
					première ou d’énergie, interruption ou retard dans les transports ou
					toute autre cause introduisant une situation de chômage total ou
					partiel pour le vendeur ou ses fournisseurs ainsi qu’en cas de
					survenance de toutes circonstances imprévisibles, irrésistibles et
					indépendantes de notre volonté et de celle de nos fournisseurs,
					empêchant l’exécution du contrat. Le vendeur s’engage à informer
					l’acquéreur, par tous moyens à sa convenance, de la réalisation d’un
					tel évènement.
				</p>
			
		</div>
	</main>
	<Footer />
</Layout>
<script>
	function setupSmoothScroll() {
		const smoothScrollLinks = document.querySelectorAll(".smooth-scroll");
		for (const link of smoothScrollLinks) {
			link.addEventListener("click", function (e) {
				e.preventDefault();
				//@ts-ignore
				const targetId = this.getAttribute("href");
				const targetElement = document.querySelector(targetId);
				if (targetElement) {
					const offsetTop = targetElement.offsetTop - 90;
					window.scrollTo({
						top: offsetTop,
						behavior: "smooth",
					});
				}
			});
		}
	}
	document.addEventListener("DOMContentLoaded", setupSmoothScroll);
	document.addEventListener("astro:page-load", setupSmoothScroll);
</script>

<style lang="scss">
	h2 {
		@apply mt-6 mb-3;
	}
</style>
