---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import HeroBox from "../components/HeroBox.astro";
//import Reassurance from "../components/Reassurance.astro";
import GaucheDroite from "../components/Gauche-Droite.astro";
import ColumnGridAssets from "../components/Column-Grid-Assets.astro";
---

<Layout title="Page des composants" description="Ceci est la meta description">
	<Header /><i class="fa-brands fa-square-x-twitter"></i>
	<HeroBox />

	

	<GaucheDroite
		subtitle="A propos"
		title="Votre succès en ligne grâce à des solutions éprouvées"
		intro="Réussir sur le web ne s’improvise pas : sans préparation, sans plan d’action, la mise en ligne d’un site ne sert à rien."
		body="<p>Créer un site qui réalise du trafic, ça n’est pas si compliqué quand on a un cadre de travail solide et un rêve à poursuivre : avec les bonnes méthodes, les bons outils, une analyse rigoureuse et un plan d’action, tout est possible. La réussite sur le web n’est qu’une question de motivation et de temps !</p><p class='mt-6'><strong>Charles Annoni</strong> - Chef de projet</p>  "
		imgsrc="../src/assets/img/charles-annoni.jpg"
		;
		imgalt="Charles Annoni"
		reverse={false}
	/>
	<!-- REASSURANCE -->
	<div class="row my-20 bg-gradient-to-b from-[#1B3751] to-[#232634] py-20">
		<div class="container">
			<div class="grid grid-cols-3 gap-8">
				<ColumnGridAssets
					title="Un service de haute qualité pour tous"
					body="Nous sommes tributaires de nos clients et notre priorité, c’est de vous fournir les services que vous méritez."
					icon="fa-bell-concierge"
					color="moonstone"
				/>
				<ColumnGridAssets
					title="Des horaires de travail extensibles, 7J/7"
					body="Nous pouvons intervenir 24h / 24, 7 jours/7, si vos conditions de production le nécessite."
					icon="fa-clock-rotate-left"
					color="moonstone"
				/>
				<ColumnGridAssets
					title="Une grande expérience en production"
					body="Notre expérience nous permet de vous conseiller et de vous orienter vers les meilleures solutions."
					icon="fa-gear-complex-code"
					color="moonstone"
				/>
				<ColumnGridAssets
					title="Des créations sur mesure, à votre image"
					body="Nous travaillons sur mesure, pour vous proposer un site adapté à votre niche, et à votre société."
					icon="fa-palette"
					color="moonstone"
				/>
				<ColumnGridAssets
					title="Les meilleures technologies du marché"
					body="Nous effectuons une veille constantes pour n’utiliser que des technologies adaptés, robustes et fiables."
					icon="fa-microchip"
					color="moonstone"
				/>
				<ColumnGridAssets
					title="Votre intérêt avant toute autre chose"
					body="Notre priorité, c’est de vous permettre de vous développer : on ne vous vendra jamais quelque chose d’inutile."
					icon="fa-heart"
					color="moonstone"
				/>
			</div>
		</div>
	</div>

	<main>
		<h1 class="text-4xl">
			Bienvenue sur <span class="text-gradient">Astro</span>
		</h1>
		<p class="instructions text-md text-slate-700">
			To get started, open the directory <code>src/pages</code> in your project.<br
			/>
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
			above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="/webmarketing"
				title="Webmarketing"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	.container {
		max-width: 1400px;
	}
	/*main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}*/
</style>
