---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroBox from "../components/HeroBox.astro";
import Footer from "../components/Footer.astro";
import * as animations from "../components/animations.js";
---

<Layout title="Politique de confidentialité - GDM-Pixel" description="Découvrez notre politique de confidentialtié">
	<Header />
	<main>
		<div class="mx-auto py-24 max-w-4xl prose">
			<h1>Politique de confidentialité</h1>
			<p>
				Nous sommes engagés à respecter votre vie privée. Contactez-nous si vous
				avez des questions ou des problèmes au sujet de l’utilisation de vos
				données personnelles, et nous vous assisterons avec plaisir.
			</p><p>
				En utilisant ce site ou nos services, vous acceptez la gestion de vos
				données personnelles tel que décrit dans ce document.
			</p><h3>Table des matières</h3><ol>
				<li>
					<a class="smooth-scroll" href="#gdpr-definitions"
						>Définition utilisée dans ce document
					</a>
				</li><li>
					<a class="smooth-scroll" href="#gdpr-principles"
						>Les principes de protection des données
					</a>
				</li><li>
					<a class="smooth-scroll" href="#gdpr-rights"
						>Vos droits au sujet de vos données personnelles
					</a>
				</li><li>
					<a class="smooth-scroll" href="#gdpr-information"
						>Les données que nous collectons</a>
				</li><li>
					<a class="smooth-scroll" href="#gdpr-processing"
						>Comment nous utilisons ces données</a>
				</li><li>
					<a class="smooth-scroll" href="#gdpr-sharing"
						>Qui a accès à ces données</a>
				</li><li>
					<a class="smooth-scroll" href="#gdpr-security"
						>Comment nous sécurisons vos données</a>
				</li><li>
					<a class="smooth-scroll" href="#gdpr-cookies">A propos des cookies</a>
				</li><li>
					<a class="smooth-scroll" href="#gdpr-contact">Nous contacter</a>
				</li>
			</ol><h3 id="gdpr-definitions">Définitions</h3><p>
				<strong>Données personnelles</strong>– toute information relative à une
				personne physique.
			</p><p>
				<strong>Traitement</strong> – toute opération ou ensemble d’opérations
				effectuées sur une ou plusieurs données personnelles.
			</p><p>
				<strong>Sujet des données</strong> – une personne physique dont les
				données sont gérées.
			</p><p><strong>Enfant</strong>– personne physique mineure.</p><h3
				id="gdpr-principles">
				Principe de protection des données
			</h3><p>
				Nous nous engageons à respecter les principes suivants concernant la
				protection de vos données :
			</p><ul>
				<li>
					La gestion de vos données respecte la loi, est juste et transparente.
					Nos activités de traitement des données respectent les lois en
					vigueur. Nous examinons toujours vos droits avant de traiter vos
					données personnelles. Nous pouvons vous donner des informations
					concernant le traitement de vos données sur simple demande.
				</li><li>
					Le traitement de vos données personnelles est limité : il ne
					s’applique qu’aux buts qui leur étaient explicitement destinés.
				</li><li>
					Le traitement de vos données est minimaliste : nous ne collectons que
					les informations dont nous avons strictement besoin.
				</li><li>
					Le traitement de vos données est limité dans le temps. Nous ne
					conserverons pas vos données plus longtemps que nécessaire.
				</li><li>
					Nous faisons tout notre possible pour assurer la pertinence de ces
					données.
				</li><li>
					Nous faisons tout notre possible pour garantir l’intégrité et la
					confidentialité de ces données.
				</li>
			</ul><h3 id="gdpr-rights">Vos droits concernant ces données</h3><p>
				Le sujet des données dispose des droits suivants :
			</p><ol>
				<li>
					Le droit d’information : vous avez le droit d’être informés quand vos
					données personnelles sont collectées, comment elles sont collectées,
					pourquoi et par qui.
				</li><li>
					Le droit d’accès : vous avez le droit d’accéder aux données qui vous
					concernent. Cela inclut le droit de demander et d’obtenir une copie de
					ces données.
				</li><li>
					Le droit de rectification : vous avez le droit de demander la
					rectification ou la suppression des données personnelles qui sont
					incomplètes ou fausses.
				</li><li>
					Le droit à la suppression : vous avez le droit, dans certaines
					circonstances, de demander la suppression pure et simple de vos
					données personnelles de toute base en notre possession.
				</li><li>
					Le droit de restriction : dans certaines circonstances, vous avez le
					droit de demander des restrictions à l’utilisation de vos données
					personnelles.
				</li><li>
					Le droit l’opposition : cela signifie que dans certaines
					circonstances, vous avez le droit de vous opposer à l’utilisation de
					vos données personnelles, par exemple dans le cadre d’opérations de
					marketing direct.
				</li><li>
					Le droit de vous opposer au traitement automatique : vous avez le
					droit de vous opposer au traitement automatique de vos données, ce qui
					inclut les opérations de profilage. Vous pouvez vous opposer au
					traitement automatique de vos données. Vous pouvez exercer ce droit
					dès que le profilage de vos données produit des effets qui peuvent
					vous affecter.
				</li><li>
					Le droit à la portabilité : vous avez le droit d’obtenir vos données
					personnelles dans un format lisible sur un ordinateur, ou, si c’est
					possible, au transfert direct d’un processeur un autre (transfert d’un
					ordinateur vers un autre).
				</li><li>
					Le droit de déposer une réclamation : dans l’éventualité où votre
					droit d’accès est refusé, nous vous indiquerons pourquoi. Si vous
					n’êtes pas satisfaits de la façon dont nous traitons votre requête,
					nous vous invitons à nous contacter.
				</li><li>
					Le droit à l’aide d’une <a href="#gdpr-contact">autorité supérieure</a
					> : vous êtes en droit de faire appel à une autorité supérieure pour
					gérer tout type de litige concernant vos données personnelles.
				</li><li>
					Le droit de retirer votre consentement : vous pouvez retirer votre
					consentement au traitement de vos données personnelles à tout moment.
				</li>
			</ol><h3>Les données que nous collectons</h3><p>
				<strong>Les données que vous nous avez fournies</strong>
			</p><p>
				Cela peut être votre adresse e-mail, votre nom, votre adresse de
				facturation, l’adresse de votre domicile etc. La plupart de ces
				informations sont nécessaires pour vous livrer un produit ou un service,
				ou pour améliorer votre expérience avec nous. Nous sauvegardons les
				informations que vous nous communiquez lors d’une commande ou d’un
				service, afin de vous permettre d’utiliser plus facilement notre site
				(cela peut être, par exemple, votre nom ou une adresse de messagerie).
			</p><p><strong>Les informations collectées automatiquement</strong></p><p>
				Cela inclut des informations qui sont automatiquement enregistrées par
				un cookie ou un autre outil de gestion de session. Par exemple, les
				informations de votre panier d’achat, votre adresse IP, votre historique
				de commande (s’il y en a) etc. Ces informations sont collectées pour
				améliorer votre expérience en tant que client. Quand vous utilisez nos
				services ou que vous regardez le contenu de notre site, certaines de vos
				activités peuvent être enregistrées.
			</p><p><strong>Informations de nos partenaires</strong></p><p>
				Nous récupérons des informations de nos partenaires de confiance, avec
				la confirmation qu’ils ont le droit de partager ces informations avec
				nous. Il peut s’agir d’informations que vous avez transmis directement
				ou qu’ils ont collecté à votre sujet sur une base légale. Vous trouverez
				la liste de nos partenaires <a href="#gdpr-sharing">ici</a>.
			</p><p><strong>Des informations publiques</strong></p><p>
				Nous pouvons être amenés à collecter des informations à votre sujet si
				elles sont publiques et accessibles.
			</p><h3 id="gdpr-processing">
				Comment nous utilisons vos données personnelles
			</h3><p>Nous utilisons vos données personnelles pour :</p><ul>
				<li>
					Vous fournir certains services. Cela inclut par exemple la création de
					votre compte, la fourniture de certains produits ou services que vous
					avez demandés, la fourniture d’objets promotionnels que vous avez
					demandés, ainsi que la communication au sujet de certains produits ou
					services. Cela inclut également la communication au sujet de produits
					ou services auxquels vous avez souscrit
				</li><li>
					Améliorer votre expérience en tant que client ou utilisateur
				</li><li>Respecter une obligation légale ou un contrat</li><li>
					Personnaliser votre compte, dans la section réservée aux membres
				</li>
			</ul><p>
				Nous utilisons vos données personnelles sur une base légale et/ou avec
				votre consentement
			</p><p>
				En ce qui concerne la fourniture d’un contrat ou le respect de certaines
				obligations contractuelles, nous utilisons vos données personnelles aux
				fins suivantes :
			</p><ul>
				<li>Vous identifier ;</li><li>
					Vous fournir un service ou vous envoyer/vous offrir un produit
				</li><li>
					Communiquer avec vous au sujet des ventes ou de problématiques liées à
					la facturation;
				</li>
			</ul><p>
				Sur la base de vos intérêts exprimés, nous utilisons vos données
				personnelles pour :
			</p><ul>
				<li>
					Vous proposez des offres personnalisées (de notre part et/ou de la
					part de nos partenaires soigneusement sélectionnés)
				</li><li>
					Administrer ou analyser notre base client (historique et comportements
					d’achat), dans le but d’améliorer la qualité, la variété et la
					disponibilité de nos produits ou services
				</li><li>Créer des questionnaires concernant la satisfaction client</li>
			</ul><p>
				Aussi longtemps que vous ne nous aurez pas informé du contraire, nous
				vous proposerons des produits ou services similaires à votre historique
				de commande ou vos habitudes de surf, dans la poursuite de nos intérêts
				légitimes.
			</p><p>
				Avec votre consentement, nous utilisons vos données personnelles pour :
			</p><ul>
				<li>
					Vous envoyer notre lettre d’information ou d’éventuelles promotions
					(de nos services et/ou de nos partenaires soigneusement sélectionnés)
				</li><li>
					Vous fournir d’autres produits ou services but pour lequel nous vous
					avons demandé votre consentement
				</li>
			</ul><p>
				Nous traitons également vos données personnelles dans le but de parfaire
				à des obligations légales et/ou en accord avec les lois en vigueur. Nous
				nous réservons le droit d’anonymiser des données personnelles collectées
				et d’utiliser ce type de données. Nous n’utiliserons de données en
				dehors de cette politique de confidentialité que si elles sont
				parfaitement anonymes. Nos sauvegardes auront vos informations de
				facturation et toutes autres informations collectées à votre sujet,
				aussi longtemps que nécessaire à des fins comptables, ou pour tout autre
				obligation légale, conformément aux délais exprimés dans les lois en
				vigueur.
			</p><p>
				Il est possible que nous utilisions vos données personnelles à d’autres
				fins non mentionnées ici, mais compatible avec le but originel pour
				lequel ces données ont été collectées. Pour ceci, nous nous assurerons
				que :
			</p><ul>
				<li>
					Le lien entre le but, le contexte et la nature des données
					personnelles est convenables pour le traitement visé,
				</li><li>
					Que le traitement visé ne nuise pas vos intérêts ou à vos droits
				</li><li>
					Que l’intégrité et la sécurité des données soit garanties lors de ce
					traitement.
				</li>
			</ul><p>
				Ce document sert à vous informer de tout type de changement dans le
				traitement de vos données personnelles.
			</p><h3 id="gdpr-sharing">
				Qui peut accéder à vos données personnelles
			</h3><p>
				Nous ne partageons pas vos données personnelles avec des étrangers.
				Certaines de vos données personnelles peuvent être, dans certains cas,
				transférées vers nos partenaires de confiance, dans le seul but d’une
				fourniture de services, ou de l’amélioration de votre expérience client.
				Nous partageons nos données avec :
			</p><p>
				<strong>Nos partenaires de traitement des données :</strong>
			</p><ul><li><strong>Mailchimp</strong></li></ul><p>
				<strong>Nos partenaires commerciaux :</strong>
			</p><ul><li><strong>Netlify</strong></li></ul><p>
				Nous ne travaillons qu’avec des partenaires capables d’assurer un
				traitement convenable et la sécurité de vos données personnelles. Nous
				ne révélons vos données personnelles à des parties tierces ou aux
				organismes officiels que lorsque nous avons l’obligation légale de le
				faire. Il est possible que nous divulguions vos données personnelles à
				de tierces parties si vous avez consenti à cela ou s’il y a une base
				légale à le faire.
			</p><h3 id="gdpr-security">
				Comment nous sécurisons vos données personnelles
			</h3><p>
				Nous faisons tout notre possible pour garantir la sécurité de vos
				données personnelles. Nous utilisons des moyens de communication et de
				transfert sécurisés (comme HTTPS). Nous utilisons des processus
				d’anonymisation et de pseudonymisation dès que cela est possible. Nous
				monitorons nos systèmes pour détecter de possibles vulnérabilités et
				attaques. <strong
					>Tous nos postes sont équipés d’Antivirus à jour.</strong>
			</p><p>
				Bien que nous fassions tout notre possible, il est impossible de
				garantir une sécurité totale et absolue. Toutefois, nous nous engageons
				à contacter les autorités compétentes en cas de failles de sécurité.
				Nous vous informerons également de la découverte de toute faille de
				sécurité, au mieux de vos intérêts. Nous faisons tout notre possible
				pour prévenir tout type de brèche de sécurité et pour assister les
				autorités compétentes si une telle faille venait à être découverte.
			</p><p>
				Si vous avez un compte dans un de nos systèmes, notez que vous devez
				maintenir votre nom d’utilisateur et votre mot de passe secret en toutes
				circonstances.
			</p><h3 id="gdpr-security">Enfant</h3><p>
				Il n’est pas dans notre intention de collecter sciemment des
				informations au sujet de personnes mineures. Nos services ou produits ne
				ciblent pas les enfants.
			</p><h3 id="gdpr-cookies">
				Cookies et autres technologies que nous utilisons
			</h3><p>
				Nous utilisons des cookies ainsi que d’autres technologies similaires
				pour analyser le comportement de nos clients, administrer notre site
				Web, suivre le mouvement des utilisateurs à l’écran, et collecter
				certaines informations au sujet des utilisateurs. Ceci est fait dans le
				but de personnaliser et améliorer votre expérience avec nous.
			</p><p>
				Un cookie est un petit fichier texte enregistré sur votre ordinateur.
				Les cookies stockent des informations utiles au bon fonctionnement d’un
				site Internet. Nous sommes les seuls à pouvoir accéder aux cookies créés
				par notre site. Vous pouvez contrôler vos cookies grâce à votre
				navigateur Web. Choisir de désactiver les cookies peut impacter
				certaines fonctionnalités du site.
			</p><p>
				<strong>Nous utilisons les cookies aux fins suivantes :</strong>
			</p><ul>
				<li>
					Les cookies nécessaires : ces cookies sont nécessaires pour que vous
					puissiez utiliser des fonctionnalités importantes de notre site, comme
					par exemple la connexion à votre compte. Ces cookies ne collectent pas
					d’informations personnelles.
				</li><li>
					Les cookies fonctionnels : ces cookies fournissent des fonctionnalités
					qui rendent nos services plus pratiques, plus facile à utiliser, et
					améliorent votre expérience utilisateur. Par exemple, ils peuvent se
					souvenir de votre nom et de votre adresse mail dans les formulaires de
					commentaire, pour que vous n’ayez pas à entrer à nouveau ces
					informations la prochaine fois que vous commenterez une publication.
				</li><li>
					Les cookies Analytics : c’est cookies sont utilisés pour enregistrer
					le comportement des utilisateurs et les performances de nos sites ou
					de nos services
				</li><li>
					Les cookies publicitaires : ces cookies sont utilisés pour livrer des
					publicités qui sont pertinentes pour vous, en fonction de vos centres
					d’intérêts. Ils permettent également de limiter le nombre de fois où
					vous voyez une publicité. Ils sont habituellement placés sur le site
					par des réseaux publicitaires, avec la permission de l’opérateur du
					site Internet. Ces cookies se souviennent que vous avez visité
					certains sites, et ces informations sont partagées avec d’autres
					organisations, comme des régies publicitaires. Il est possible que ces
					cookies soient liés avec certaines fonctionnalités du site.
				</li>
			</ul><p>
				Vous pouvez retirer les cookies stockés sur votre ordinateur grâce à
				votre navigateur Web. Vous pouvez également contrôler les cookies de
				parties tierces grâce à certaines plates-formes telles que <a
					href="http://optout.aboutads.info/#!/">optout.aboutads.info</a
				> ou <a href="http://www.youronlinechoices.com/"
					>youronlinechoices.com</a
				>. Pour plus d’informations au sujet des cookies, vous pouvez visiter <a
					href="http://www.allaboutcookies.org">allaboutcookies.org</a
				>.
			</p><p>
				Nous utilisons Google Analytics pour mesurer le trafic sur notre site.
				Google dispose de ses propres politiques de confidentialité, que vous
				pouvez lire <u
					><a href="https://support.google.com/analytics/answer/6004245">ici</a
					></u
				>. Si vous souhaitez vous désabonner des services de tracking de Google
				Analytics, visitez la page de <a
					href="https://tools.google.com/dlpage/gaoptout"
					>gestion de désinscription de Google Analytics</a
				>. Le module proposé par Google vous permettra de désactiver Google
				Analytics sur tous les sites que vous visiterez.
			</p><h3 id="gdpr-contact">Nous contacter</h3><p>
				<strong
					>Charles Annoni, 10 rue de la table ronde, 14000 Caen – 09-77-21-66-80</strong>
			</p><h3>Changement à cette politique de confidentialité</h3><p>
				Nous nous réservons le droit de changer ses politiques de
				confidentialité, la dernière modification été fait le 10/12/2023.
			</p>
		</div>
	</main>
	<Footer />
</Layout>
<script>
function setupSmoothScroll() {
		const smoothScrollLinks = document.querySelectorAll('.smooth-scroll');
    for (const link of smoothScrollLinks) {
        link.addEventListener('click', function(e) {
            e.preventDefault();
//@ts-ignore
            const targetId = this.getAttribute('href');
            const targetElement = document.querySelector(targetId);
            if (targetElement) {
                const offsetTop = targetElement.offsetTop - 90;
                window.scrollTo({
                    top: offsetTop,
                    behavior: 'smooth'
                });
            }
        });
    }
	}
	document.addEventListener("DOMContentLoaded", setupSmoothScroll);
	document.addEventListener("astro:page-load", setupSmoothScroll);
</script>

<style lang="scss">
	h2 {
		@apply mt-6 mb-3;
	}
</style>
