---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroBox from "../components/HeroBox.astro";
import Footer from "../components/Footer.astro";
import * as animations from "../components/animations.js";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
const customCrumbs = [
  {
   
  },
  {
    text: "Mentions légales",
    href: "/mentions-legales/"
  }
];
---
<Layout title="Mentions légales - GDM-Pixel" description="Nos mentions légales, sur cette page.">
	<Header />
	<main> 
        <div class="mx-auto py-24 max-w-4xl prose">
            <h1>Mentions légales</h1>
		<h2 style="text-align: left;">1. Présentation du site.</h2> En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004, voici l’identité des différents intervenants dans la création du site gdm-pixel.fr :  Numéro de SIREN du siège social : 520 628 934
Créateur : Charles Annoni
Le responsable publication est une personne morale.
Hébergeur : OVH – 2 rue Kellermann – 59100 Roubaix – France<h2>2. Conditions générales d’utilisation du site et des services proposés.</h2> L’utilisation du site implique l’acceptation de la <a href="/gdpr/">politique de confidentialité</a> et des <a href="/cgu-cgv/">CGU</a>.<h2>3. Description des services fournis.</h2> Le site www.gdm-pixel.fr a pour objet de fournir une information concernant l’ensemble des activités de la société.  La société s’efforce de fournir sur le site www.gdm-pixel.fr des informations aussi précises que possible.  Tous les informations indiquées sur le site www.gdm-pixel.fr sont données à titre indicatif, et sont susceptibles d’évoluer.<h2>4. Limitations contractuelles sur les données techniques.</h2> Le site utilise la technologie JavaScript, HTML / CSS, Php Mysql et Action Script.  Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.<h2>5. Propriété intellectuelle et contrefaçons.</h2> La société gestionnaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons.  Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de la société.  Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.<h2>6. Limitations de responsabilité</h2> La société ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site www.gdm-pixel.fr, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.  La société ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site www.gdm-pixel.fr.  Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. Le rédacteur du site se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, le gestionnaire du site se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).<h2>7. Gestion des données personnelles.</h2> En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.  A l’occasion de l’utilisation du site www.gdm-pixel.fr, peuvent êtres recueillies : l’URL des liens par l’intermédiaire desquels l’utilisateur a accédé au site www.gdm-pixel.fr, le fournisseur d’accès de l’utilisateur, l’adresse de protocole Internet (IP) de l’utilisateur.<h2>8. Liens hypertextes et cookies.</h2> Le site www.gdm-pixel.fr contient un certain nombre de liens hypertextes pointants vers d’autres sites. Cependant, la société n’a pas la possibilité de vérifier tous les contenus des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.  Les services de partage sur les réseaux sociaux utilisent des cookies, implémantés par les services des réseaux sociaux concernés. L’utilisation de ces services, accessibles via ce site, émanent de la responsabilité des éditeurs des réseaux sociaux sur lesquels l’internaute s’inscrit.
Pour désactiver les cookies sur votre ordinateur, vous pouvez suivre les indications disponibles <a href="https://www.gdm-pixel.fr/charte-numerique/">ici</a>.<h2>9. Droit applicable et attribution de juridiction.</h2> Tout litige en relation avec l’utilisation du site www.gdm-pixel.fr est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.<h2>10. Modèle présentés et montages photos</h2> Toutes les photos, illustrations et design graphiques qui composent le site sont la propriété intellectuelle exclusive du gestionnaire du site.  Les modèles présentés dans les montages photos ne peuvent en aucun cas être associés, de façon directe ou indirecte, aux propos tenus sur le site, ou associés à la responsabilité du rédacteur (webmaster). De la même façon, les montages et/ou photos les représentants sur d’autres sites et/ou contenus infographiques/imprimés ne peuvent être associé à quelque activité présentée sur ce site.  Les usagers du site s’engagent à ne pas modifier, éditer, télécharger ou utiliser de quelques manière que ce soit les éléments graphiques présents sur le site.<h2>11. Les principales lois concernées.</h2> Loi n° 78-87 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés.  Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique.<h2>12.Remerciements et crédits</h2> Graphisme, illustrations et animations : GDM-PIXEL (Charles Annoni)  Photos : Midjourney, Freepik</div>
	</main>
	<Footer />
</Layout>

<style lang="scss">
h2 {
   @apply mt-6 mb-3
}


</style>
