---
import { Image } from "astro:assets";
import Reassurance from "../components/Reassurance.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout
	title="PAGES DES ICONES"
	description="GDM-Pixel, agence web à Caen, vous conseille et vous accompagne pour la création de votre identité visuelle.">
	<Header />
	
	<main>
		<!-- REASSURANCE -->
		<div class="reassurance">
			<div class="grid lg:grid-cols-6 md:grid-cols-2 gap-8 py-20">
<Reassurance title="fa-bell-concierge" icon="fa-bell-concierge" body=".." color="prussian" />
<Reassurance title="fa-browser" icon="fa-browser" body=".." color="prussian" />
<Reassurance title="fa-bullhorn" icon="fa-bullhorn" body=".." color="prussian" />
<Reassurance title="fa-cart-shopping" icon="fa-cart-shopping" body=".." color="prussian" />
<Reassurance title="fa-chart-lineup" icon="fa-chart-lineup" body=".." color="prussian" />
<Reassurance title="fa-chart-mixed" icon="fa-chart-mixed" body=".." color="prussian" />
<Reassurance title="fa-chart-network" icon="fa-chart-network" body=".." color="prussian" />
<Reassurance title="fa-chess" icon="fa-chess" body=".." color="prussian" />
<Reassurance title="fa-circle-chevron-left" icon="fa-circle-chevron-left" body=".." color="prussian" />
<Reassurance title="fa-circle-chevron-right" icon="fa-circle-chevron-right" body=".." color="prussian" />
<Reassurance title="fa-clock-rotate-left" icon="fa-clock-rotate-left" body=".." color="prussian" />
<Reassurance title="fa-code" icon="fa-code" body=".." color="prussian" />
<Reassurance title="fa-comments-question-check" icon="fa-comments-question-check" body=".." color="prussian" />
<Reassurance title="fa-database" icon="fa-database" body=".." color="prussian" />
<Reassurance title="fa-desktop" icon="fa-desktop" body=".." color="prussian" />
<Reassurance title="fa-display-code" icon="fa-display-code" body=".." color="prussian" />
<Reassurance title="fa-envelope-circle-check" icon="fa-envelope-circle-check" body=".." color="prussian" />
<Reassurance title="fa-eye" icon="fa-eye" body=".." color="prussian" />
<Reassurance title="fa-file-certificate" icon="fa-file-certificate" body=".." color="prussian" />
<Reassurance title="fa-file-contract" icon="fa-file-contract" body=".." color="prussian" />
<Reassurance title="fa-file-invoice" icon="fa-file-invoice" body=".." color="prussian" />
<Reassurance title="fa-file-pdf" icon="fa-file-pdf" body=".." color="prussian" />
<Reassurance title="fa-gauge-high" icon="fa-gauge-high" body=".." color="prussian" />
<Reassurance title="fa-gear-complex-code" icon="fa-gear-complex-code" body=".." color="prussian" />
<Reassurance title="fa-gears" icon="fa-gears" body=".." color="prussian" />
<Reassurance title="fa-graduation-cap" icon="fa-graduation-cap" body=".." color="prussian" />
<Reassurance title="fa-hat-wizard" icon="fa-hat-wizard" body=".." color="prussian" />
<Reassurance title="fa-heart" icon="fa-heart" body=".." color="prussian" />
<Reassurance title="fa-layer-group" icon="fa-layer-group" body=".." color="prussian" />
<Reassurance title="fa-list-check" icon="fa-list-check" body=".." color="prussian" />
<Reassurance title="fa-magnifying-glass" icon="fa-magnifying-glass" body=".." color="prussian" />
<Reassurance title="fa-messages-question" icon="fa-messages-question" body=".." color="prussian" />
<Reassurance title="fa-microchip" icon="fa-microchip" body=".." color="prussian" />
<Reassurance title="fa-mobile-notch" icon="fa-mobile-notch" body=".." color="prussian" />
<Reassurance title="fa-paintbrush" icon="fa-paintbrush" body=".." color="prussian" />
<Reassurance title="fa-palette" icon="fa-palette" body=".." color="prussian" />
<Reassurance title="fa-photo-film-music" icon="fa-photo-film-music" body=".." color="prussian" />
<Reassurance title="fa-rocket-launch" icon="fa-rocket-launch" body=".." color="prussian" />
<Reassurance title="fa-ruler" icon="fa-ruler" body=".." color="prussian" />
<Reassurance title="fa-shield-check" icon="fa-shield-check" body=".." color="prussian" />
<Reassurance title="fa-truck-fast" icon="fa-truck-fast" body=".." color="prussian" />
<Reassurance title="fa-user-gear" icon="fa-user-gear" body=".." color="prussian" />
<Reassurance title="fa-instagram" icon="fa-instagram" body=".." color="prussian" />
<Reassurance title="fa-linkedin" icon="fa-linkedin" body=".." color="prussian" />
<Reassurance title="fa-square-facebook" icon="fa-square-facebook" body=".." color="prussian" />
<Reassurance title="fa-square-x-twitter" icon="fa-square-x-twitter" body=".." color="prussian" />
<Reassurance title="fa-x-twitter" icon="fa-x-twitter" body=".." color="prussian" />
<Reassurance title="fa-message-heart" icon="fa-message-heart" body=".." color="prussian" />
<Reassurance title="fa-youtube" icon="fa-youtube" body=".." color="prussian" />

			</div>
		</div>
		<!-- FIN DE REASSURANCE -->

	</main>
	<Footer />
</Layout>

<style lang="scss">
	.container {
		max-width: 1400px;
	}

	.reassurance {
		@apply mx-auto xxl:-mt-20 xl:-mt-12 -mt-12 relative z-10 container;
	}
	.cta-container-centered {
		@apply flex flex-col sm:flex-row items-center justify-center gap-4 mt-8;
		.cta {
			@apply w-52 text-center items-center;
		}
	}
	.faqbox {
		@apply bg-gradient-to-b from-[#1B3751] to-[#232634] py-24 text-white;
		.faqcontainer {
			@apply lg:w-2/3 md:w-3/5 rounded-md overflow-clip relative z-20;
		}

		.header-nova-box {
			@apply px-4 py-6 flex justify-center;
		}

		
		
		@keyframes animate {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 300% 0;
			}
			100% {
				background-position: 0 0;
			}
		}
		.glow:after {
			filter: blur(15px);
			opacity: 0.5;
		}
	}
</style>
