---

---

<section class="accelerateur-numerique">
	<div class="container max-w-6xl">
		<div class="lg:flex lg:text-left text-center lg:gap-4">
			<span class="h2 flex flex-col justify-center lg:mb-0 mb-6"
				>GDM-Pixel est accélérateur numérique et partenaire référent de la CCI
				de Normandie.</span
			>
			<div class="img-container min-w-fit flex flex-col sm:flex-row gap-4 lg:items-start items-center justify-center lg:flex-start">
				<img src="/img/cci-normandie.svg" alt="logo CCI Normandie" loading="lazy" />
				<img src="/img/france-num.svg" alt="logo France Numérique" loading="lazy" />
			</div>
		</div>

		<div class="numcontainer">
			<div class="child">
				<span class="top">100 <sup>+</sup></span>
				<span class="bottom">Clients satisfaits</span>
			</div>
			<div class="child">
				<span class="top">100 <sup>+</sup></span>
				<span class="bottom">Sites créés</span>
			</div>
			<div class="child">
				<span class="top">1000 <sup>+</sup></span>
				<span class="bottom">Etudiants formés</span>
			</div>
		</div>
	</div>
</section>
<style lang="scss">
	.accelerateur-numerique {
		@apply bg-gradient-to-b from-[#1B3751] to-[#232634] py-24 text-white;
	}
	.h2 {
		@apply uppercase font-bold lg:text-xl text-md;
	}
	.numcontainer {
		@apply lg:flex lg:items-center lg:justify-center mt-8;
		.child {
			@apply flex flex-col items-center justify-center lg:border-r-2 lg:border-solid lg:border-white px-12 py-2;
            .top {@apply text-xxxxl font-bold uppercase;}
            .bottom {@apply text-sm font-semibold;}
		}
		.child:nth-child(3) {
			@apply border-none;
		}
	}
</style>
