---
// Accordion.astro
let { items } = Astro.props;
---

<ul id="accordion" class="accordion">
	{
		Array.isArray(items) &&
			items.map(({ question, answer }, index) => (
				<li class="accordion-item" aria-expanded="false">
					<button type="button" class="accordion-button">
						<span class="accordion-header">
							{question}
							<svg
								width="28"
								height="25"
								viewBox="0 0 28 25"
								fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<ellipse
									cx="13.7904"
									cy="12"
									rx="8.19277"
									ry="8"
									fill="white"
								/>
								<path d="M14.3989 25C21.4695 25 27.2001 19.4043 27.2001 12.5C27.2001 5.5957 21.4695 0 14.3989 0C7.3282 0 1.59766 5.5957 1.59766 12.5C1.59766 19.4043 7.3282 25 14.3989 25ZM13.1987 16.7969V13.6719H9.99845C9.33338 13.6719 8.79833 13.1494 8.79833 12.5C8.79833 11.8506 9.33338 11.3281 9.99845 11.3281H13.1987V8.20312C13.1987 7.55371 13.7338 7.03125 14.3989 7.03125C15.0639 7.03125 15.599 7.55371 15.599 8.20312V11.3281H18.7993C19.4643 11.3281 19.9994 11.8506 19.9994 12.5C19.9994 13.1494 19.4643 13.6719 18.7993 13.6719H15.599V16.7969C15.599 17.4463 15.0639 17.9688 14.3989 17.9688C13.7338 17.9688 13.1987 17.4463 13.1987 16.7969Z" />
							</svg>
						</span>
					</button>

					<div class="accordion-content">
						<div class="accordion-inner" set:html={answer} />
					</div>
				</li>
			))
	}
</ul>

<script type="module">
	class Accordion {
		//@ts-ignore
		constructor(element, options) {
			//@ts-ignore
			this.element = element;
			//@ts-ignore
			this.items = Array.from(this.element.children).filter((child) =>
			//@ts-ignore
				child.classList.contains("accordion-item"),
			);
			//@ts-ignore
			this.settings = Object.assign(
				{
					duration: 300,
					exclusive: true,
					onOpen: () => {},
					onClose: () => {},
				},
				options,
			);

			this.init();
		}

		init() {
			//@ts-ignore
			this.items.forEach((item) => {
				if (item.classList.contains("active")) {
					item.querySelector(".accordion-content").style.display = "block";
				}

				item
					.querySelector(".accordion-header")
					.addEventListener("click", () => {
						const isActive = item.classList.contains("active");
						if (!isActive) {
							this.open(item);
						} else {
							this.close(item);
						}
					});
			});
		}
		//@ts-ignore
		open(item) {
			//@ts-ignore
			if (this.settings.exclusive) {
				this.closeAll();
			}
			const content = item.querySelector(".accordion-content");
			const inner = content.querySelector(".accordion-inner");
			//@ts-ignore
			content.style.height = inner.scrollHeight + "px";
			item.classList.add("active");
			//@ts-ignore
			if (this.settings.onOpen) {
				//@ts-ignore
				this.settings.onOpen.call(this, item);
			}
		}
		//@ts-ignore
		close(item) {
			const content = item.querySelector(".accordion-content");
			//@ts-ignore
			content.style.height = "0";
			item.classList.remove("active");
			//@ts-ignore
			if (this.settings.onClose) {
				//@ts-ignore
				this.settings.onClose.call(this, item);
			}
		}

		closeAll() {
			//@ts-ignore
			this.items.forEach((item) => this.close(item));
		}
	}

	// Usage
	const myAccordion = new Accordion(document.querySelector(".accordion"), {
		duration: 300,
		//@ts-ignore
		onOpen: (item) => console.log("Opened", item),
		//@ts-ignore
		onClose: (item) => console.log("Closed", item),
	});
</script>

<style lang="scss">
	/* Style your accordion */
	.accordion {
	}
	.accordion-header {
		@apply flex justify-between px-6 py-10 font-semibold text-lg text-left gap-6;
	}

	.accordion-content {
		@apply overflow-hidden transition-all duration-300 h-0 ease-in-out;
	}
	.accordion-inner {
		@apply px-6 py-6 bg-white text-base text-prussian-400; /* Padding et autres styles appliqués ici */
	}
	
	.accordion-item.active {
		.accordion-content {
			height: auto;
		}
	}
	.accordion-button {
		@apply w-full bg-prussian-600 transition-all duration-300 ease-in-out border-b-2 border-prussian-100;
		&:hover {
			@apply bg-prussian-500 transition-all duration-300 ease-in-out;
		}
		.accordion-header svg {
			@apply fill-dustyred-400 transition-all duration-300 ease-in-out;
		}
	}
	.accordion-item.active .accordion-button {
		@apply bg-prussian-200 transition-all duration-300 ease-in-out;
		.accordion-header svg {
			@apply rotate-45 fill-moonstone-400 transition-all duration-300 ease-in-out;
		}
	}
</style>
