---
import { Image } from "astro:assets";
import CharlesImageAuthor from "../assets/img/charles-annoni-author.png";
---

<div class="authorbox flex md:flex-row flex-col md:text-left text-center max-w-5xl mx-auto mt-12 rounded-lg overflow-clip" transition:persist>
	<div class="col1 md:w-2/5 w-full">
		<Image
			src={CharlesImageAuthor}
			width="320"
			height="280"
			alt="Charles Annoni"
			loading="lazy"
		/>
	</div>
	<div class="col2 md:w-3/5 w-full">
		<h4>Charles Annoni</h4>
		<span class="h5">Développeur Front-End et Formateur</span>
		<p>
			Charles Annoni accompagne les entreprises dans leur développement sur le
			web depuis 2008. Il est également formateur dans l’enseignement supérieur.
		</p>
		<ul class="social-list flex">
			<li>
				<a href="https://www.facebook.com/gdmpixel"><svg
					width="11"
					height="19"
					viewBox="0 0 11 19"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M6.89054 18.2555V10.0449H9.78523L10.2186 6.84499H6.89045V4.80203C6.89045 3.87559 7.16063 3.24428 8.55608 3.24428L10.3358 3.24348V0.381565C10.028 0.342639 8.97144 0.255493 7.74246 0.255493C5.17643 0.255493 3.41969 1.74667 3.41969 4.48522V6.84499H0.517578V10.0449H3.41969V18.2554H6.89054V18.2555Z"
						fill="#FAFFFD"></path>
				</svg></a>
			</li>
			<li>
				<a href="https://twitter.com/gdm_pixel"><svg
					width="19"
					height="16"
					viewBox="0 0 19 16"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M12.4528 0.956855V0.953613H13.2968L13.6052 1.01521C13.8108 1.05519 13.9975 1.10759 14.1652 1.17243C14.3329 1.23726 14.4952 1.31291 14.6521 1.39934C14.809 1.48578 14.9513 1.57386 15.079 1.66354C15.2056 1.75215 15.3192 1.84616 15.4198 1.94557C15.5194 2.04606 15.6747 2.07199 15.8857 2.02337C16.0967 1.97474 16.3239 1.9072 16.5674 1.82076C16.8108 1.73432 17.0516 1.63707 17.2896 1.52901C17.5277 1.42095 17.6727 1.35234 17.7246 1.32316C17.7755 1.29292 17.8025 1.27671 17.8058 1.27454L17.809 1.26968L17.8252 1.26157L17.8415 1.25347L17.8577 1.24536L17.8739 1.23726L17.8772 1.2324L17.882 1.22916L17.8869 1.22591L17.8902 1.22105L17.9064 1.21619L17.9226 1.21295L17.9194 1.23726L17.9145 1.26157L17.9064 1.28589L17.8983 1.3102L17.8902 1.32641L17.882 1.34262L17.8739 1.36693C17.8685 1.38314 17.8631 1.40474 17.8577 1.43176C17.8523 1.45878 17.8009 1.56683 17.7035 1.75593C17.6061 1.94503 17.4844 2.13683 17.3383 2.33133C17.1922 2.52583 17.0613 2.67277 16.9455 2.7722C16.8287 2.87269 16.7513 2.94292 16.7134 2.98291C16.6756 3.02396 16.6296 3.06178 16.5755 3.09636L16.4943 3.14985L16.4781 3.15796L16.4618 3.16606L16.4586 3.17092L16.4537 3.17417L16.4489 3.17741L16.4456 3.18227L16.4294 3.19037L16.4132 3.19848L16.4099 3.20334L16.405 3.20658L16.4002 3.20982L16.3969 3.21469L16.3937 3.21955L16.3888 3.22279L16.3839 3.22603L16.3807 3.23089H16.4618L16.9163 3.13364C17.2193 3.06881 17.5087 2.99048 17.7847 2.89862L18.2229 2.75275L18.2716 2.73654L18.2959 2.72843L18.3122 2.72033L18.3284 2.71223L18.3446 2.70412L18.3609 2.69602L18.3933 2.69115L18.4258 2.68791V2.72033L18.4177 2.72357L18.4095 2.72843L18.4063 2.7333L18.4014 2.73654L18.3966 2.73978L18.3933 2.74464L18.3901 2.7495L18.3852 2.75275L18.3803 2.75599L18.3771 2.76085L18.3739 2.76571L18.369 2.76895L18.3609 2.78516L18.3527 2.80137L18.3479 2.80461C18.3457 2.80786 18.277 2.89969 18.1417 3.08016C18.0065 3.26169 17.9335 3.35353 17.9226 3.3557C17.9118 3.35894 17.8967 3.37515 17.8772 3.40432C17.8588 3.43457 17.7441 3.55506 17.5331 3.76577C17.3221 3.97648 17.1154 4.16395 16.9131 4.3282C16.7097 4.49353 16.6069 4.69667 16.6047 4.93764C16.6015 5.17752 16.589 5.44876 16.5674 5.7513C16.5457 6.05386 16.5051 6.38072 16.4456 6.73191C16.3861 7.0831 16.2941 7.4802 16.1697 7.92323C16.0453 8.36625 15.8938 8.79848 15.7152 9.2199C15.5367 9.64132 15.35 10.0195 15.1553 10.3545C14.9605 10.6895 14.782 10.9731 14.6196 11.2054C14.4573 11.4377 14.2923 11.6566 14.1246 11.8619C13.9569 12.0672 13.7448 12.2984 13.4884 12.5556C13.2308 12.8117 13.0902 12.9522 13.0664 12.977C13.0415 13.0008 12.9355 13.0894 12.7482 13.2428C12.5621 13.3973 12.3619 13.5519 12.1477 13.7064C11.9345 13.8598 11.7387 13.9879 11.5601 14.0905C11.3816 14.1932 11.1663 14.3104 10.9141 14.4423C10.6631 14.5752 10.3915 14.6983 10.0994 14.8118C9.80721 14.9253 9.49882 15.0306 9.1742 15.1279C8.84959 15.2251 8.5358 15.3008 8.23281 15.3548C7.92985 15.4088 7.58629 15.4547 7.20216 15.4926L6.62596 15.5493V15.5574H5.57096V15.5493L5.43299 15.5412C5.34103 15.5358 5.26528 15.5304 5.20576 15.525C5.14626 15.5196 4.92172 15.4898 4.53218 15.4358C4.14264 15.3818 3.83697 15.3278 3.61514 15.2737C3.39333 15.2197 3.06329 15.1171 2.62506 14.9658C2.18683 14.8145 1.81189 14.6616 1.50026 14.5071C1.18972 14.3536 0.994948 14.2564 0.915953 14.2153C0.838045 14.1753 0.750398 14.1257 0.653013 14.0662L0.506935 13.9771L0.503706 13.9722L0.49882 13.969L0.493951 13.9657L0.490705 13.9609L0.474474 13.9528L0.458243 13.9447L0.455013 13.9398L0.450128 13.9365L0.445258 13.9333L0.442012 13.9284L0.438782 13.9236L0.433897 13.9203H0.425781V13.8879L0.442012 13.8912L0.458243 13.896L0.531282 13.9041C0.579974 13.9095 0.712531 13.9176 0.928937 13.9284C1.14536 13.9393 1.37529 13.9393 1.61875 13.9284C1.86221 13.9176 2.11109 13.8933 2.36537 13.8555C2.61965 13.8177 2.91993 13.7529 3.26618 13.661C3.61245 13.5692 3.93057 13.46 4.22057 13.3336C4.50948 13.2061 4.71506 13.111 4.83734 13.0483C4.95852 12.9867 5.14355 12.8722 5.39242 12.7047L5.76573 12.4535L5.76897 12.4486L5.77384 12.4454L5.77873 12.4421L5.78196 12.4373L5.7852 12.4324L5.79007 12.4292L5.79496 12.4259L5.79819 12.4211L5.81442 12.4162L5.83065 12.413L5.8339 12.3967L5.83877 12.3805L5.84365 12.3773L5.84688 12.3724L5.71703 12.3643C5.63048 12.3589 5.54661 12.3535 5.46546 12.3481C5.3843 12.3427 5.25717 12.3184 5.08403 12.2752C4.91091 12.232 4.72426 12.1671 4.52407 12.0807C4.32389 11.9942 4.12912 11.8916 3.93976 11.7727C3.75041 11.6539 3.61352 11.555 3.52912 11.4761C3.4458 11.3983 3.33759 11.2881 3.2045 11.1455C3.0725 11.0018 2.95779 10.8542 2.86041 10.703C2.76302 10.5517 2.66997 10.3772 2.58125 10.1794L2.44652 9.88445L2.43841 9.86013L2.43029 9.83582L2.42542 9.81961L2.42217 9.8034L2.44652 9.80665L2.47087 9.81151L2.64941 9.83582C2.76844 9.85203 2.9551 9.85743 3.20937 9.85203C3.46366 9.84663 3.63949 9.83582 3.73687 9.81961C3.83426 9.8034 3.89378 9.79259 3.91541 9.7872L3.94787 9.77909L3.98845 9.77099L4.02903 9.76288L4.03227 9.75802L4.03714 9.75478L4.04203 9.75154L4.04526 9.74667L4.0128 9.73857L3.98033 9.73047L3.94787 9.72236L3.91541 9.71426L3.88295 9.70615C3.86131 9.70076 3.82345 9.68995 3.76933 9.67374C3.71524 9.65753 3.56916 9.59809 3.3311 9.49544C3.09306 9.3928 2.90369 9.29284 2.76302 9.19559C2.622 9.09806 2.48754 8.99139 2.3605 8.87628C2.2339 8.75958 2.09486 8.60938 1.94336 8.42569C1.79188 8.242 1.65663 8.02858 1.53759 7.78546C1.41857 7.54233 1.3293 7.31002 1.26978 7.0885C1.21051 6.86828 1.1714 6.64314 1.15294 6.41585L1.12371 6.07547L1.13994 6.07871L1.15617 6.08357L1.1724 6.09168L1.18863 6.09978L1.20486 6.10789L1.22109 6.11599L1.47267 6.22945C1.6404 6.30509 1.84869 6.36993 2.09756 6.42395C2.34644 6.47797 2.49521 6.5077 2.54391 6.5131L2.61694 6.5212H2.76302L2.75979 6.51634L2.75491 6.5131L2.75004 6.50986L2.74679 6.50499L2.74356 6.50013L2.73868 6.49689L2.73381 6.49365L2.73056 6.48878L2.71433 6.48068L2.6981 6.47258L2.69487 6.46771L2.68998 6.46447L2.68511 6.46123L2.68187 6.45637L2.66564 6.44826L2.64941 6.44016L2.64618 6.4353C2.64293 6.43313 2.5964 6.39855 2.50657 6.33156C2.41784 6.26349 2.32479 6.17543 2.2274 6.06737C2.13002 5.9593 2.03263 5.84585 1.93525 5.72699C1.83768 5.60786 1.75079 5.48041 1.67556 5.34609C1.59982 5.21103 1.51974 5.0392 1.43534 4.83066C1.35203 4.6232 1.28873 4.41411 1.24544 4.2034C1.20217 3.99269 1.17782 3.78469 1.1724 3.57938C1.16699 3.37406 1.1724 3.19848 1.18863 3.0526C1.20486 2.90673 1.23732 2.74194 1.28602 2.55825C1.33471 2.37456 1.40505 2.18005 1.49702 1.97474L1.63498 1.66678L1.64309 1.64247L1.65121 1.61816L1.6561 1.61492L1.65933 1.61005L1.66257 1.60519L1.66744 1.60195L1.67233 1.60519L1.67556 1.61005L1.6788 1.61492L1.68367 1.61816L1.68856 1.6214L1.69179 1.62626L1.69503 1.63112L1.6999 1.63437L1.70802 1.65057L1.71613 1.66678L1.72102 1.67002L1.72425 1.67489L1.94336 1.91801C2.08944 2.0801 2.26258 2.2611 2.46275 2.461C2.66294 2.66089 2.77385 2.76463 2.79548 2.7722C2.81714 2.78084 2.84418 2.80568 2.87664 2.84676C2.9091 2.88674 3.01731 2.98237 3.20125 3.13364C3.38522 3.28492 3.62597 3.46052 3.92353 3.66042C4.2211 3.86032 4.55112 4.05752 4.91361 4.25202C5.27611 4.44653 5.66565 4.62211 6.08223 4.7788C6.49883 4.93548 6.79098 5.03813 6.95869 5.08676C7.12642 5.13538 7.41316 5.19751 7.81893 5.27315C8.2247 5.3488 8.53039 5.39742 8.73597 5.41903C8.94157 5.44064 9.08224 5.45307 9.15797 5.45631L9.27159 5.45955L9.26836 5.43524L9.26347 5.41093L9.23101 5.20832C9.20938 5.07326 9.19855 4.88415 9.19855 4.64103C9.19855 4.3979 9.21749 4.17369 9.25536 3.96838C9.29324 3.76307 9.35005 3.55506 9.42578 3.34435C9.50153 3.13364 9.57566 2.96453 9.64814 2.83703C9.72173 2.7106 9.81803 2.56635 9.93705 2.40427C10.0561 2.24218 10.2103 2.0747 10.3996 1.90181C10.589 1.72891 10.8054 1.57493 11.0489 1.43987C11.2923 1.3048 11.5169 1.20214 11.7224 1.13191C11.928 1.06167 12.1012 1.01574 12.2418 0.994134C12.3825 0.972528 12.4528 0.960097 12.4528 0.956855Z"
						fill="#FAFFFD"></path>
				</svg></a>
			</li>
			<li>
				<a href="https://www.youtube.com/@GDMPixel"><svg
					width="23"
					height="17"
					viewBox="0 0 23 17"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M22.5194 2.65992C22.2549 1.61292 21.4755 0.788331 20.4859 0.508495C18.6923 0 11.5 0 11.5 0C11.5 0 4.30774 0 2.51405 0.508495C1.52449 0.788375 0.745127 1.61292 0.480607 2.65992C0 4.55768 0 8.51718 0 8.51718C0 8.51718 0 12.4767 0.480607 14.3744C0.745127 15.4214 1.52449 16.2117 2.51405 16.4915C4.30774 17 11.5 17 11.5 17C11.5 17 18.6923 17 20.4859 16.4915C21.4755 16.2117 22.2549 15.4214 22.5194 14.3744C23 12.4767 23 8.51718 23 8.51718C23 8.51718 23 4.55768 22.5194 2.65992ZM9.14771 12.1121V4.92225L15.159 8.51727L9.14771 12.1121Z"
						fill="#FAFFFD"></path>
				</svg></a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/charles-annoni-gdm-pixel/"><svg
					width="19"
					height="18"
					viewBox="0 0 19 18"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M0.425781 2.67542C0.425781 2.09821 0.62849 1.62202 1.03389 1.24685C1.43929 0.871666 1.96633 0.684082 2.61497 0.684082C3.25204 0.684082 3.76747 0.868775 4.1613 1.23819C4.5667 1.61915 4.76941 2.11553 4.76941 2.72737C4.76941 3.28148 4.5725 3.74323 4.17868 4.11265C3.77328 4.4936 3.24045 4.68408 2.58022 4.68408H2.56285C1.92578 4.68408 1.41034 4.4936 1.01651 4.11265C0.622687 3.7317 0.425781 3.25262 0.425781 2.67542ZM0.65165 17.8269V6.25984H4.50879V17.8269H0.65165ZM6.64586 17.8269H10.503V11.3681C10.503 10.964 10.5493 10.6523 10.642 10.433C10.8042 10.0405 11.0503 9.7086 11.3804 9.43733C11.7105 9.16604 12.1246 9.0304 12.6227 9.0304C13.92 9.0304 14.5686 9.90197 14.5686 11.6451V17.8269H18.4258V11.1949C18.4258 9.48638 18.0204 8.19057 17.2096 7.30746C16.3987 6.42434 15.3273 5.98278 13.9953 5.98278C12.5011 5.98278 11.337 6.62347 10.503 7.90486V7.93949H10.4856L10.503 7.90486V6.25984H6.64586C6.66902 6.62924 6.68061 7.77786 6.68061 9.70572C6.68061 11.6336 6.66902 14.3406 6.64586 17.8269Z"
						fill="#FAFFFD"></path>
				</svg></a>
			</li>
		</ul>
	</div>
</div>
<script></script>
<style lang="scss">
	.authorbox {
		@apply bg-prussian-400 text-white px-6 md:px-0 py-12 md:py-0;
		.col1 {
			img {
				@apply lg:w-full object-cover lg:h-auto md:w-full h-full md:rounded-none rounded-full md:mx-0 mx-auto md:aspect-auto aspect-square;
			}
		}
		.col2 {
			@apply lg:px-12 px-8 py-6 flex flex-col justify-center;
			h4 {
				@apply text-white mb-2 lg:text-xxl md:text-xl text-xxl font-bold;
			}
			span.h5 {
				@apply text-moonstone-600 text-lg lg:mb-4 md:mb-2 mb-4;
			}
			p {@apply lg:text-md md:text-base text-md mb-4;}
			ul.social-list {@apply flex md:justify-start justify-center;
				li a {@apply lg:w-[40px] lg:h-[40px] md:w-[30px] md:h-[30px] w-[40px] h-[40px] flex flex-col justify-center items-center rounded-lg md:rounded-md lg:rounded-lg mr-4 bg-gradient-to-b from-[#E04261] to-[#D62246] transition-all duration-300 ease-in-out;
				&:hover {@apply bg-gradient-to-b from-[#69D2E1] to-[#00B2CB] transition-all duration-300 ease-in-out;}} 
			}
		}
	}
</style>
