---
import PixelSeparator from "../components/PixelSeparator.astro";
---
<section class="blogpost">
<div class="row my-20">
	<div class="container">
		<div class="section-header">
			<span class="h6 text-dustyred-400 uppercase font-bold mb-6"
				>Dernières créations</span
			>
			<h2 class="section-title">Quelques une de nos dernières réalisations</h2>
			<PixelSeparator />
		</div>
	</div>

	
</div>
</section>
