---
import Icone from "../components/Icones.astro";
interface Props {
	title: string;
	body: string;
	icon: string;
    color:string;
}
const { title, body, icon, color } = Astro.props;
---

<div class="assets">
     <Icone icon={icon} color={color}/>
	<div class="col">
    <h3>{title}</h3>
    <hr/>
	<p>{body}</p>
    </div>
</div>
<style is:global lang="scss">
	.assets {
		@apply flex flex-row items-center text-white; 
        span {@apply w-20 h-auto block mx-auto;
    }
    .col {
        @apply w-40;
    }
	h3 {
		@apply font-bold text-xl text-powder font-bold mb-4;
	}
    hr {max-width:250px;}
	}
   
</style>
