---
---

<section class="bg-prussian-400">
	<div class="xl:container px-6 mx:px-8 text-white block md:flex justify-between pt-12 pb-12">
		<div class="col1">
			<h2 class="text-white text-xl lg:text-xxxl md:text-xl mb-2 md:mb-2">Vous voulez en savoir plus sur nos process ?</h2>
			<p class="mb-6 md:mb-0">Prenez contact avec nous, et on vous expliquer tout !</p>
		</div>
		<button onclick="openBookMe()" class="cta red self-center">En savoir plus</button>
	</div>
</section>
