---
interface Props {
	//title: string;
	//body: string;
	//href: string;
}
import * as animations from "./animations.js";
import { Image } from "astro:assets";

---
<section class="herobox">
	<div class="container" transition:animate={animations.myFadeSlide}>
		<h1>Création de site internet à Caen</h1>
		<p class="baseline">De l'Idée à l'Impact<br /><span class="text-xxl">Donnez Vie à Votre Projet Digital</span></p>
		<p class="intro mb-4">
			Nous façonnons votre vision en un site web dynamique et engageant pour propulser votre marque sur le web
		</p>
		<ul class="herolist">
<li class="flex items-center text-lg font-semibold mb-2"><svg class="fill-moonstone-400 mr-2" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M447.9 142.5l-23.2 22L181 395.3l-22 20.8-22-20.8L23.2 287.6 0 265.6l44-46.5 23.2 22L159 328 380.7 118l23.2-22 44 46.5z"/></svg>Création 100 % personnalisée</li>
<li class="flex items-center text-lg font-semibold mb-2"><svg class="fill-moonstone-400 mr-2" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M447.9 142.5l-23.2 22L181 395.3l-22 20.8-22-20.8L23.2 287.6 0 265.6l44-46.5 23.2 22L159 328 380.7 118l23.2-22 44 46.5z"/></svg>Optimisé pour le référencement</li>
<li class="flex items-center text-lg font-semibold mb-2"><svg class="fill-moonstone-400 mr-2" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M447.9 142.5l-23.2 22L181 395.3l-22 20.8-22-20.8L23.2 287.6 0 265.6l44-46.5 23.2 22L159 328 380.7 118l23.2-22 44 46.5z"/></svg>Rapide et compatible Smartphone</li>
		</ul>
	
	</div>
</section>
<style lang="scss">
	.herobox {
		background: url("/img/HeroBoxCreasite.webp") no-repeat center
			center;
		@apply relative  overflow-clip bg-cover bg-center flex flex-col justify-center items-center text-white xl:aspect-[16/6] lg:aspect-[16/7.5] md:aspect-[16/10] sm:aspect-[16/12] xs:aspect-[16/16] mt-0 z-0;
		.container {
			@apply -mt-10 md:max-w-7xl sm:max-w-6xl sm:text-left xs:w-full xs:max-w-full xs:text-center;
		}
		h1 {
			@apply text-base font-bold uppercase text-dustyred-400 mb-2;
		}
		.baseline {
			@apply xl:text-[50px] lg:text-xxxxl md:text-xxxl sm:text-xxl xs:text-xl font-extrabold leading-[66px] uppercase text-white mb-4;
		}
		.intro {
			@apply max-w-xl text-lg xs:mx-auto sm:mr-auto sm:ml-0;
		}
		.cta_container {
			@apply mt-6 gap-4 flex sm:text-sm xs:text-xs md:text-base xs:mx-auto xs:justify-center sm:justify-start;
		}
	}
	.left-bg-clip-1 {
		@apply absolute h-full w-3/5 top-0 -left-12 bg-prussian-500 opacity-80 shadow-[0_20px_5px_rgba(0,0,0,1)];
	}

	@keyframes balancement1 {
		0%,
		100% {
			transform: translateX(0);
		}
		50% {
			transform: translateX(
				20px
			); /* Ajustez la valeur ici pour la distance désirée */
		}
	}
	@keyframes balancement2 {
		0%,
		100% {
			transform: translateX(0);
		}
		50% {
			transform: translateX(
				30px
			); /* Ajustez la valeur ici pour la distance désirée */
		}
	}

	@keyframes balancement3 {
		0%,
		100% {
			transform: translateX(0);
		}
		50% {
			transform: translateX(
				60px
			); /* Ajustez la valeur ici pour la distance désirée */
		}
	}

	@keyframes opacity1 {
		0%,
		100% {
			opacity: 0.2;
		}
		50% {
			opacity: 1; /* Ajustez la valeur ici pour la distance désirée */
		}
	}
	

	/*ROUGE XS*/
	@media screen and (min-width: 240px) and (max-width: 639px) {
		.herobox {
			background-position: 47% 24%;
			background-size: cover;
		}
	

		
	
		
	
	}
	/*ORANGE SM*/
	@media screen and (min-width: 640px) and (max-width: 767px) {
		.herobox {
			background-position: 39% 24%;
			background-size: 163%;
		}
	
	}

	/*JAUNE MD*/
	@media screen and (min-width: 768px) and (max-width: 1023px) {
		.herobox {
			background-position: 25% 26%;
			background-size: 136%;
		}
	
	}
	/*VERT LG*/
	@media screen and (min-width: 1024px) and (max-width: 1279px) {
		.herobox {
			background-position: 40% 26%;
			background-size: 136%;
		}
	
	}

	/*BLEU XL*/
	@media screen and (min-width: 1280px) {
		.left-bg-clip-1 {
			clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);
		}
	}
</style>
