---
// src/components/Icone.astro
import { icons } from "../assets/js/icones.js";
interface Props {
    icon : "fa-check"|"fa-circle-plus"|"fa-envelope"|"fa-location-dot"|"fa-phone-solid"|"fa-bell-concierge"|"fa-browser"|"fa-bullhorn"|"fa-cart-shopping"|"fa-chart-lineup"|"fa-chart-mixed"|"fa-chart-network"|"fa-chess"|"fa-circle-chevron-left"|"fa-circle-chevron-right"|"fa-clock-rotate-left"|"fa-code"|"fa-comments-question-check"|"fa-database"|"fa-desktop"|"fa-display-code"|"fa-envelope-circle-check"|"fa-eye"|"fa-file-certificate"|"fa-file-contract"|"fa-file-invoice"|"fa-file-pdf"|"fa-gauge-high"|"fa-gear-complex-code"|"fa-gears"|"fa-graduation-cap"|"fa-hat-wizard"|"fa-heart"|"fa-layer-group"|"fa-list-check"|"fa-magnifying-glass"|"fa-messages-question"|"fa-microchip"|"fa-mobile-notch"|"fa-paintbrush"|"fa-palette"|"fa-photo-film-music"|"fa-rocket-launch"|"fa-ruler"|"fa-shield-check"|"fa-truck-fast"|"fa-user-gear"|"fa-instagram"|"fa-linkedin"|"fa-square-facebook"|"fa-square-x-twitter"|"fa-x-twitter"|"fa-youtube"|"fa-message-heart";
    color: string;
    size: "small" | "medium" | "big" | "tiny";
}

const { icon, color, size } = Astro.props;

---

<span set:html={icons[icon]} class={`${color ? color : "prussian"} ${size}`}></span>



</div>
<style lang="scss">
span {@apply block mx-auto;
&.prussian {@apply fill-prussian-400;}
&.moonstone {@apply fill-moonstone-400;}
&.dustyred {@apply fill-dustyred-400;}
&.powder {@apply fill-powder;}
&.small{@apply w-10 h-auto;}
&.medium{@apply w-16 h-auto;}
&.big{@apply w-24 h-auto;}
&.tiny {@apply w-6 h-auto;}
}	
</style>