---
import tabConfig from './TabNav/tabConfig.json';


let activeTab = 'SiteWeb';  // Initialiser avec le premier onglet
function setActiveTab(tabName: string) {
    activeTab = tabName;
}
let ActiveComponent;
switch(activeTab) {
    case 'SiteWeb':
        ActiveComponent = import(tabConfig.SiteWeb);
        break;
    case 'Ecommerce':
        ActiveComponent = import(tabConfig.Ecommerce);
        break;
    // ... autres cas
}
---
<div class="tabs">
    <div class="tab" @click={() => setActiveTab('SiteWeb')}>Onglet 1</div>
    <div class="tab" @click={() => setActiveTab('Ecommerce')}>Onglet 2</div>
    <!-- ... autres onglets -->
</div>
<div class="tab-content">
    {ActiveComponent ? <ActiveComponent /> : null}
</div>

<style lang="scss">
    .tabs .tab {@apply bg-white flex;
    &.active {@apply bg-dustyred-400}}
	.tab-content .tab-pane {
    display: none;
}
.tab-content .tab-pane.active {
    display: block;
}
</style>


