---
import { getCollection } from "astro:content";
import LayoutBlogPost from "../../../layouts/LayoutBlogPost.astro";
import PostList from "../../../components/PostList.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

// Logique de pagination
const allPosts = await getCollection("articles");
const CreasitePosts = allPosts.filter(
	(post) => post.data.category === "creasite",
);
const pageSize = 12;
const pageNumber = 1;
const paginatedPosts = CreasitePosts.slice(
	(pageNumber - 1) * pageSize,
	pageNumber * pageSize,
);
const totalPages = Math.ceil(CreasitePosts.length / pageSize);
---

<LayoutBlogPost
	title="Page des articles"
	description="Ceci est la meta description">
	<Header />
	<main class="pt-0 pb-12">
		<div class="category-header">
			<h1 class="mt-0">Articles creasite</h1>
			<p>Retrouvez ici nos dernières publications, creasite</p>
		</div>

		<PostList posts={paginatedPosts} />

		<nav class="blogpagination">
			{
				pageNumber > 1 && (
					//@ts-ignore
					<a
						class="prevbtn"
						href={
							//@ts-ignore
							pageNumber === 2
								? `/articles/creasite/`
								: `/articles/creasite/${pageNumber - 1}`
						}>
						Page précédente
					</a>
				)
			}

			{
				pageNumber < totalPages && (
					<a class="nextbtn" href={`/articles/creasite/${pageNumber + 1}`}>
						Page suivante
					</a>
				)
			}
		</nav>
	</main>
	<Footer />
</LayoutBlogPost>
